<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Employee_Management_System.Properties.Settings.UsersConnectionString"
            connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=Users;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Employee_Management_System.Properties.Settings.EmployeesConnectionString"
            connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=Employees;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>